.customTextarea {
    box-sizing: border-box;
    border: 1px solid #ced4da;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 12px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    transition: all .2s ease;

    &:hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    
    &:focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }
}