.button {
    padding: 10px 20px;
    border-radius: 10%;
    font-family: 'Rubik', sans-serif;
}

.approve {
    background-color: green;
}

.delete {
    background-color: red;
}

.button-width {
    width: 200px; // задайте желаемую ширину
  }